body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gantari', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h4 {
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FB6100;
    padding: 16px;
}

.header-logo {
    height: 64px;
}

.language-icon {
    height: 24px;
    width: 24px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon {
    height: 24px;
    margin-left: 8px;
    cursor: pointer;
}

.header-location {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}

.header-location:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* main styles */
main {
    display: flex;
    flex: 1;
}

.restaurant-container {
    flex: 1;
}

.restaurant-header {
    width: 100%;
    position: relative;
}

.meal-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 28%
}

.restaurant-logo {
    width: 90px;
    height: 90px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 60px);
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A3847;
}

.dishes-container {
    width: 1000px;
}

.dishes-undertitle {
    padding: 12px;
    background-color: #F8F5F2;
}

.dish {
    border: 1px solid #E6E6E6;
    padding: 24px;
    position: relative;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.dish:hover {
    border: 1px solid #146EEB;
}

.dish-price {
    color: #FB6100;
}

.add-icon {
    padding: 8px;
    width: 24px;
    height: 24px;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    position: absolute;
    right: 0;
    top: 0;
}

.basket {
    width: 300px;
}

/* footer styles */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #0A3847;
    padding: 16px;
}

footer a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}