body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gantari', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h4 {
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FB6100;
    padding: 16px;
}

.header-logo {
    height: 64px;
}

.language-icon {
    height: 24px;
    width: 24px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon {
    height: 24px;
    margin-left: 8px;
    cursor: pointer;
}

.header-location {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}

.header-location:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* main styles */
main {
    display: flex;
    flex: 1;
}

.restaurant-container {
    flex: 1;
}

.restaurant-header {
    width: 100%;
    position: relative;
}

.meal-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 28%
}

.restaurant-logo {
    width: 110px;
    height: 110px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    position: absolute;
    bottom: -55px;
    left: calc(50% - 55px);
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A3847;
}

.dishes-container {
    width: 900px;
}

.restaurant-headline {
    padding: 20px 0px;
}

.restaurant-undertitle {
    padding: 12px;
    margin-bottom: 18px;
    background-color: #F8F5F2;
}

#dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
}

.loading-image {
    width: 36px;
    height: 36px;
}

.dish {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    padding: 24px;
    position: relative;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.dish:hover {
    border: 1px solid #146EEB;
}

.dish-price {
    color: #FB6100;
}

.add-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    position: absolute;
    right: 0;
    top: 0;
}

.basket {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #ECECEE;
}

.sticky-basket-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.basket-header-close {
    display: flex;
    justify-content: space-between;
}

.btn-close {
    padding: 16px !important;
}

.basket-header {
    border-bottom: 1px solid #EBEBEB;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 18px;
    margin: 0;
}

#basket-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
}

.basket-image {
    padding: 18px;
}

.basket-element {
    width: 100%;
    padding: 12px 0px;
    border-bottom: 1px solid #E6E6E6;
}

.amount-name-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.increase-decrease {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.note-increase-decrease a {
    text-decoration: none;
    color: #125FCA;
    transition: all 125ms ease-in-out;
}

.note-increase-decrease a:hover {
    text-decoration: underline;
}

.increase-decrease-icon {
    padding: 8px;
    width: 32px;
    height: 32px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
}

.increase-decrease-icon:hover {
    border: 1px solid #146EEB;
}

.basket-prices {
    padding-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.basket-prices-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-open-basket {
    position: sticky;
    width: 250px;
    bottom: 0px;
    margin-bottom: 12px;
    display: none !important;
}

/* footer styles */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #0A3847;
    padding: 16px;
}

footer a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.d-none {
    display: none;
}

.show-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .dishes-container {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .restaurant-headline {
        text-align: center;
        padding-top: 70px;
    }

    .restaurant-undertitle {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .basket {
        width: 250px;
    }
}

@media (max-width: 600px) {
    .btn-open-basket {
        display: block !important;
    }

    .basket {
        display: none;
        width: 100%;
    }

    .mobile-d-none {
        display: none;
    }

    .show-mobile {
        display: block;
    }
}