body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gantari', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h4 {
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FB6100;
    padding: 16px;
}

.header-logo {
    height: 64px;
}

.language-icon {
    height: 24px;
    width: 24px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon {
    height: 24px;
    margin-left: 8px;
    cursor: pointer;
}

.header-location {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}

.header-location:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* main styles */
main {
    display: flex;
    flex: 1;
}

.restaurant-container {
    flex: 1;
}

.restaurant-header {
    width: 100%;
    position: relative;
}

.meal-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 28%
}

.restaurant-logo {
    width: 90px;
    height: 90px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 60px);
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A3847;
}

.dishes-container {
    width: 1000px;
}

.dishes-undertitle {
    padding: 12px;
    background-color: #F8F5F2;
}

#dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
}

.loading-image {
    width: 36px;
    height: 36px;
}

.dish {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    padding: 24px;
    position: relative;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.dish:hover {
    border: 1px solid #146EEB;
}

.dish-price {
    color: #FB6100;
}

.add-icon {
    padding: 8px;
    width: 24px;
    height: 24px;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    position: absolute;
    right: 0;
    top: 0;
}

.basket {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #ECECEE;
}

.basket-header {
    border-bottom: 1px solid #EBEBEB;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 18px;
    margin: 0;
}

#basket-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
}

.basket-image {
    width: 40px;
    padding: 18px;
}

.basket-element {
    width: 100%;
    padding: 12px 0px;
    border-bottom: 1px solid #E6E6E6;
}

.amount-name-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.increase-decrease {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.note-increase-decrease a {
    text-decoration: none;
    color: #125FCA;
    transition: all 125ms ease-in-out;
}

.note-increase-decrease a:hover {
    text-decoration: underline;
}

.increase-decrease-icon {
    padding: 8px;
    width: 18px;
    height: 18px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
}

.increase-decrease-icon:hover {
    border: 1px solid #146EEB;
}

/* footer styles */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #0A3847;
    padding: 16px;
}

footer a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}