body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gantari', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FB6100;
    padding: 16px;
}

.header-logo {
    height: 64px;
}

.language-icon {
    height: 24px;
    width: 24px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon {
    height: 24px;
    margin-left: 8px;
    cursor: pointer;
}

.header-location {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}

.header-location:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* main styles */
main {
    flex: 1;
}

/* footer styles */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #0A3847;
    padding: 16px;
}

footer a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}